/*Specification*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: 'Sintony', sans-serif;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.orange {
    color: #fea100;
}

.pink {
    color: #fe4c8d;
}

.pink {
    color: #fe4c8d;
}

.img-block {
    display: block;
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}


/*Section - header*/

.site-header {
    padding: 24px 0 22px;
}

.site-header__content {
    align-items: center;
}

.site-header__logo-block,
.site-header__button-block,
.site-header__nav {
    padding: 0 15px;
}

.site-header__logo-block,
.site-header__button-block {
    width: 25%;
}

.site-header__nav {
    width: 50%;
}

.nav-toggler {
    display: none;
}

.menu {
    width: 100%;
    justify-content: space-between;
}

.menu__item {
    font-weight: 700;
    font-size: 14px;
}

.menu__link {
    display: block;
    color: #2c465a;
    text-transform: uppercase;
}

.button {
    background: #fea100;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.site-header__button {
    margin-top: -4px;
    padding: 15px 18px 15px 20px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

.header-button__icon {
    background-image: url(../img/order.png);
    display: block;
    width: 21px;
    height: 17px;
}


/*Section - offer*/

.offer {
    background: url(../img/first-bg.jpg) no-repeat center top;
    padding: 220px 0;
}

.title {
    padding: 0 15px;
}

.title__heading {
    font-size: 56px;
    font-family: 'Playfair Display', serif;
    color: white;
    line-height: 56px
}

.title__desc {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.title__span {
    font-family: 'Playfair Display', serif;
}

/*Section - call*/

.call {
    background: #edf1f3;
    border-bottom: 1px solid #dde3e7;
    padding: 30px 0;
}

.call__content,
.phone__block {
    align-items: center;
}

.call__content {
    justify-content: center;
}

.phone__icon {
    background: url(../img/phone.png) no-repeat left center;
    width: 55px;
    height: 47px;
}

.phone__text {
    text-transform: uppercase;
    width: 140px;
    font-size: 14px;
    font-weight: 700;
}

.phone__bottom-text {
    font-size: 16px;
    margin-top: -4px;
    display: block;
}

.phone__number {
    font-family: 'Sintony', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #14141d;
    margin-left: 42px;
}

/*Section - about*/

.about {
    padding: 65px 0 100px;
}

.about__content {
    align-items: center;
}

.about__desc {
    width: 50%;
}

.food-images {
    width: 25%;
}

.about__desc,
.food-images {
    padding: 0 15px;
}

.desc__title {
    font-size: 35px;
    margin-bottom: 25px;
}

.desc__text {
    font-size: 14px;
    margin-bottom: 40px;
}

.desc__button {
    padding: 18px 35px;
}

.food-images__item {
    margin-bottom: 10px;
}

.food-images_down {
    margin-top: 70px;
}


/*Section - special*/


.special {
    background: url(../img/third-bg.jpg) no-repeat center top;
    padding-top: 70px;
}

.special__content {
    padding: 0 15px;    
}

.special__title {
    font-size: 2.2em;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.special-cards {
    justify-content: space-between;
}

.food-card {
    width: 48.3%;
    background: #fff;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    padding-bottom: 28px;
    margin-bottom: 128px;
}

.food-card__img {
    margin-bottom: 52px;
}

.food-card__title {
    font-size: 1.8em;
    margin-bottom: 25px;
}

.food-card__desc {
    font-size: 0.9em;
    padding: 0 50px;
    margin-bottom: 62px;
}

.food-card__details {
    padding-top: 1.2em;
    border-top: 1px solid #e1e1e1;
    margin: 0 48px;
    justify-content: space-between;
    align-items: center;
}

.food-card__delivery {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
    align-items: center;
}

.food-card__delivery-text {
    width: 78px;
    text-align: left;
    margin-right: 10px;
    border-right: 1px solid #e1e1e1;
}

.food-card__phone {
    font-size: 1.7em;
    margin-left: 18px;
}

.food-card__price {
    font-size: 28px;
    font-weight: 700;
}


/*Section - footer*/

.site-footer {
    background: #373844;
    color: #93989e;
    font-size: 13px;
    text-transform: uppercase;
    padding: 72px 0 106px;
}

.socials {
    justify-content: center;
}

.socials__item {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 7px;
}

.socials__link {
    display: block;
    width: 52px;
    height: 52px;
    
}

.socials__item_fb {
    background: #3b5998 url(../img/fb.png) no-repeat center center;
}

.socials__item_tw {
    background: #55acee url(../img/tw.png) no-repeat center center;
}

.socials__item_g {
    background: #dd4b39 url(../img/g.png) no-repeat center center;
}

.line {
    margin-top: 52px;
    height: 1px;
    background: #52535e;
}

.credits {
    margin-top: 43px;
    text-align: center;
}

.line,
.credits {
    width: 33.333%;
}


/*Adaptive*/


@media (max-width:992px)  {
    
    
    .container {
        padding: 0 10px;
    }
    
    .site-header__content,
    .special-cards,
    .site-footer__credits-block
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .site-header__logo-block,
    .site-header__button-block
    {
        width: 100%;
    }
    
    .site-header__nav,
    .food-card {
        width: 80%;
    }
    
    .site-header {
        padding-top: 40px;
    }
    
    .site-header__logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .site-header__button {
        margin: 10px auto;
        margin-top: 20px;
        width: 100%;
        justify-content: center !important;
    }
    
    .header-button__icon {
        margin-right: 14px;
    }
    
    .food-images_down {
        margin-top: 0;
    }
        
    .site-footer__credits-block {
        padding: 0 15px;
    }
    
    .line {
        width: 100%;
    }

}

@media (max-width: 768px) {
    
    .site-header__nav {
        width: 100%;
    }
    
    .about__content {
        flex-wrap: wrap;
    }
    
    .about__desc {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .food-images {
        width: 50%;
    }
    
    .food-images__item {
        margin-bottom: 30px;
    }
    
}

@media (max-width: 650px) {
    
    .food-card__img,
    .food-card__desc {
        margin-bottom: 35px;
    }
        
    .food-card__details {
        flex-wrap: wrap;
    }
    
    .food-card__delivery,
    .food-card__price{
        width: 100%;
    }
    
    .food-card__delivery {
        justify-content: center;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 576px) {
    
    .container {
        padding: 0;
    }
    
    .site-header__menu {
        flex-direction: column;
    }
    
    .menu__link {
        padding: 6px 10px;
    }
    
    .menu__link:hover {
        background-color: #dedede;
    }
    
    .title__heading {
        font-size: 36px;
    }
    
    .title__desc {
        font-size: 30px;
    }
    
    .offer {
        padding: 140px 0;
    }
    
    .call__content {
        flex-wrap: wrap;
    }
    
    .phone__block,
    .phone__number {
        width: 100%;
    }
    
    .phone__block {
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .phone__number {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .food-images {
        width: 100%;
    }
    
    .food-card {
        width: 90%;
    }
    
    .food-card__delivery {
        flex-wrap: wrap;
    }
    
    .food-card__delivery-text,
    .food-card__phone {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    
    .food-card__delivery-text {
        width: 100%;
        border-right: 0;
        font-size: 1.6em;
    }   
    
    .nav-toggler {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 0 6px 10px;
        border: 2px solid #ffdc9f;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .nav-toggler__icon {
        font-size: 24px;
        color: #9f9f9f;
    }
        
}










